.Jumbotron {
  background-color: orange;
  color: blue;
}

.Nav {
  background-color: gray;
}

.Container {
  background-color: orange;
}

.avatar{
  bottom:20px;

}
.bodyheading{
  position:relative;
  display:inline-block;
  padding:10px;
  bottom:20px;

}

.bodytext{
  position:absolute;
  display:block;
  margin-top: 25px;
  margin-left:210px;
}