

.App {
    text-align: center;
}
.body{
    background-color: black;
}
.body div{
    background-color: black;
}
.Jumbotron {
    background-color: black;
}
.container{
    background-color: Black;
}

