@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i');

html, body {
  background-color: #666;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
}

.scrolling-text {
  font-size: 100px;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  white-space: nowrap;
}

.spacer {
  height: 400px;
  background-color: #444;
  margin: 60px;
}