.body{
  background-color: #20232f;
}

.container {
    max-width: 2000px;
    background-color: #20232f;
}


.container > div > div > div  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  line-height: 8px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  padding: 50px;
  margin-left: 50px;
  font-size: 30px;
  color: whitesmoke;
}

.stripe {
  padding: 5px;
  margin-top: 10px;
  height: 4px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin {
  position: absolute;
  display: flex;
  width: 160%;
  height: 100%;
  cursor: progress;
}

.slopeEnd {
  position: absolute;
  display: flex;
  width: 140%;
  height: 100%;
  cursor: progress;
}

.pink {
  background: linear-gradient(to right, rgb(3, 29, 10), rgb(60, 228,9) 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, red 0%, yellow 100%);
}

.sitebutton1 {
  margin-top: 320px;
  margin-left: 310px;
  padding: 5px;
  top: 260px;
  position: fixed;
  display: inline-flex;
}

.sitebutton2 {
  margin-top: 320px;
  margin-left: 2250px;
  padding: 5px;
  top: 260px;
  position: fixed;
  display: inline-flex;
}

.sitebutton3 {
  margin-top: 320px;
  margin-left: 4150px;
  padding: 5px;
  top: 260px;
  position: fixed;
  display: inline-flex;
}
.Button {
  margin-top: 10px;
  margin-right: 350px;
  padding: 5px;
  top: 10px;
  position: fixed;
}
